@model ContosoUniversity.Models.ThongtinSuCo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThongtinSuCo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThongTinSuCoCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinSuCoCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThongtinSuCoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
